---
import {
  Card,
  CardDescription,
  CardHeader,
  CardTitle,
} from "@/components/ui/card";

import Layout from "../layouts/Layout.astro";
import { Separator } from "@/components/ui/separator";
---

<Layout title="Welcome to Astro.">
  <main class="min-h-[90svh] max-w-[52rem] w-full container mx-auto">
    <div class="mt-6 font-hepta">
      <div
        class="flex gap-y-2 md:gap-y-0 flex-col md:flex-row justify-between items-center md:items-start"
      >
        <h1 class="font-bold text-4xl max-w-md text-center md:text-start">
          Welcome to Consumer Thoughts!
        </h1>
      </div>
      <p class="font-inter mt-4 text-center md:text-start">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi nobis
        iste laboriosam quibusdam soluta corrupti, illum ea esse repellendus
        pariatur commodi sapiente perspiciatis minus obcaecati distinctio!
        Corporis, vitae! Earum, ullam?
      </p>
      <p class="font-inter mt-4 text-center md:text-start">
        Feel free to reach out if you enjoy interesting conversation!
      </p>
    </div>
    <div class="w-full my-6">
      <Separator />
    </div>
    <div>
      <h2
        class="mt-6 font-hepta font-bold text-3xl tracking-wider text-center md:text-start"
      >
        My Free Time
      </h2>
      <div class="grid-cols-4 grid gap-4 mt-4">
        {
          ["test", "test2", "test3", "test4", "test5"].map((card) => (
            <a href="/" class="col-span-4 md:col-span-2 font-inter group">
              <Card>
                <CardHeader>
                  <CardTitle className="text-md text-lg font-semibold group-hover:underline underline-offset-2">
                    {card}
                  </CardTitle>
                  <CardDescription className="text-sm font-medium">
                    Card Content
                  </CardDescription>
                </CardHeader>
              </Card>
            </a>
          ))
        }
      </div>
    </div>
    <div class="w-full my-6">
      <Separator />
    </div>
    <div class="mt-6 font-hepta pb-12">
      <h2
        class="mt-6 font-hepta font-bold text-3xl tracking-wider gap-4 text-center md:text-start"
      >
        Articles
      </h2>
      <div class="grid-cols-4 grid gap-4 mt-4">
        {
          ["test", "test2", "test3", "test4", "test5"].map((card) => (
            <a href="/" class="col-span-4 font-inter group">
              <Card>
                <CardHeader>
                  <CardTitle className="text-md text-lg font-semibold group-hover:underline underline-offset-2">
                    {card}
                  </CardTitle>
                  <CardDescription className="text-sm font-medium">
                    Card Content
                  </CardDescription>
                </CardHeader>
              </Card>
            </a>
          ))
        }
      </div>
    </div>
  </main>
</Layout>
